# Docker container settings
MULVAL_CONTAINER=mulval-attackgraph
MULVAL_IMAGE=wilbercui/mulval
MULVAL_MOUNT_DIR=F:\mulval-docker

# MulVAL run defaults (used by mulval-docker.bat run)
INPUT_FILE=S2.P
RULES_FILE=rules5.P
